extends layout

block content
  if inscriptions 
    table 
      tr
        th Matrícula
        th Alumno 
        th Estatus
      each inscription, id in inscriptions
        tr 
          td 
            a(href=`../../alumno/${id}`) #{inscription.id_estudiante} 
          td 
            p #{inscription.estudiante}
          td 
            p #{inscription.estatus}

