extends layout

block content

  if courses
    table 
      tr
        th Taller 
      each course in courses
        tr 
          td 
            a(href=`/talleres/taller/${course.id}`) #{course.name}


