block header
      header.header
        nav.header-nav
          ul.header-nav-ul
            li
              a(href='/') Inicio
            li
              a(href='/cursos') Cursos 
            li
              a(href="/logout") Salir 
        img.logo(src="/images/prepanet-logo.png" alt="prepanet-logo")
