block header
      header.header
        nav.header-nav
          ul.header-nav-ul
            li
              a(href='/') Inicio
            li
              a(href='/talleres') Talleres 
              ul 
                li 
                  a(href='/talleres/ofertar') Ofertar
                li 
                  a(href='/talleres/ofertas') Ofertas
            li
              a(href='/solicitudes') Solicitudes
            li
              a(href='/registrar-alumnos') Registrar alumnos
              ul 
                li
                  a(href="/registrar-cuentas") Registrar cuentas
            li
              a(href="/logout") Salir 
        img.logo(src="/images/prepanet-logo.png" alt="prepanet-logo")
