doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if role === "Superuser" 
      include header
    else 
      include headerCoordinator

    main 
      block content
    footer
      block footer
        p PrepanetMinful 2021  
    script(type="text/javascript" src="/javascripts/index.js")
