extends layout

block content
  if offers 
    h1 Ofertas
    table
      tr
        th Taller
        th Inicio
        th Fin
        th Periodo
      each offer, id in offers
        tr
          td #{offer.nombre_taller} 
          td #{offer.fecha_inicio}
          td #{offer.fecha_fin}
          td #{offer.periodo}
  else
    h1 No hay ofertas
