extends layout

block content
  form(action="/registrar-alumno" method="POST" enctype="multipart/form-data")
    //-input(type="text" name="firstname" placeholder="firstname")
    //-input(type="text" name="lastname" placeholder="lastname")
    input(type="file" name="csv")
    input(type="submit" value="Upload")
  ul
    if students !== null 
      each student, id in students
        li
          a(href=`alumno/${id}`) #{student.name}
          |  (#{id}) 
    else
      li Sin estudiantes registrados.
