extends layout

block content
  form(action="/registrar-alumnos" method="POST" enctype="multipart/form-data")
    input(type="file" name="csv")
    input(type="submit" value="Subir archivo")
  ul
    if students 
      each student, id in students
        li
          a(href=`alumno/${id}`) #{student.nombre_completo}
          |  (#{id}) 
    else
      li Sin estudiantes registrados.
