extends layout

block content
  form(action="/registrar-alumno" method="POST")
    input(type="text" name="firstname" placeholder="firstname")
    input(type="text" name="lastname" placeholder="lastname")
    input(type="submit" value="Send")
  ul
    each student, id in students
      li
        a(href=`alumno/${id}`) #{student.name}
        |  (#{id}) 

    else
      li Sin estudiantes registrados.
