form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  display: block;
}

.error{
  height: 50px;
  margin: 20px;
  color: white;
  background-color: rgba(125,0,0,0.5);;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.error>p {
  height: 50%;
  font-size: 1.3em;
  text-align: center;
}
